<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalcApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE9262B31BD8311B0064D73E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE9262C71BD8311B0064D73E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE9262D21BD8311B0064D73E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
